<!DOCTYPE html>
<!-- jQuery (required for Bootstrap's JavaScript plugins) -->

{% load i18n %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>

    <!-- Instalace SweetAlert2: -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">   
    <script src="https://cdn.tailwindcss.com"></script>                    <!--      Tento řádek kódu přidává Tailwind CSS do vaší webové stránky prostřednictvím CDN (Content Delivery Network).-->
    <title>{% block title %}{% trans "My Site" %}{% endblock %}</title>
    {% block extra_head %}    {% endblock %}
</head>




<body class="bg-gray-100 font-sans leading-normal tracking-normal">

    <!-- Navigation Bar -->
   
   <!-- Navigation Bar -->
   <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-400">
    <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-gray-500 text-3xl font-bold">{% trans "My Site" %}</a>
        <div class="flex items-center space-x-4">
            <a href="{% url 'core:index' %}" class="text-white">{% trans "Home" %}</a>

            {% if user.is_authenticated %}
                <a href="{% url 'agent:persons_list' %}" class="px-6 py-3 text-lg font-semibold bg-yellow-500 text-white rounded-xl hover:bg-yellow-700">{% trans "Attandance" %}</a>
                <a href="{% url 'eval:workdays_list' %}" class="px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl hover:bg-green-700">{% trans "Work Days" %}</a>
                <a href="{% url 'agent:persons_list' %}" class="px-6 py-3 text-lg font-semibold bg-purple-500 text-white rounded-xl hover:bg-purple-700">{% trans "Projects" %}</a>
                <a href="{% url 'reader_i18n:events_list' %}" class="px-6 py-3 text-lg font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">{% trans "Event list" %}</a>
                <a href="{% url 'core:logout' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">{% trans "Logout" %}</a>
            {% else %}
                <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">{% trans "Log In" %}</a>
                <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">{% trans "Sign up" %}</a>
            {% endif %}

            <!-- Přepínač jazyků -->
            <div class="flex flex-col items-center ml-4">
                <a href="{% url 'core:switch_language' 'cs' %}" class="mb-1"><img src="{% static 'flags/cs.png' %}" alt="Čeština" class="w-8 h-auto"></a>
                <a href="{% url 'core:switch_language' 'en' %}" class="mb-1"><img src="{% static 'flags/en.png' %}" alt="English" class="w-8 h-auto"></a>
                {% if True %}
                    <a href="{% url 'core:switch_language' 'de' %}"><img src="{% static 'flags/de.png' %}" alt="Deutsch" class="w-8 h-auto"></a>
                {% endif %}    
            </div>
        </div>
    </div>
</nav>

    <!-- Flash messages -->
    {% if messages %}
        <div class="container mx-auto mt-4">
            <ul>
                {% for message in messages %}
                    <li class="bg-{{ message.tags }}-500 text-white p-4 rounded-md mb-2">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <!-- Main content -->
    <div class="container mx-auto py-8">
        {% block content %}
        <!-- Specific page content will be inserted here -->
        {% endblock %}
    </div>
     
    
 
    <!-- Footer -->
    <footer class="bg-gray-800 p-6 text-white">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 My Site. All rights reserved.</p>
        </div>
    </footer>

    <!-- Optional scripts -->
    {% block extra_js %}{% endblock %}
</body>
</html>
